numpy==1.19.4
Brotli==1.0.9
click==7.1.2
cmdstanpy==0.9.5
convertdate==2.2.0
cycler==0.10.0
Cython==0.29.21
dash==1.18.0
dash-bootstrap-components==0.10.7
dash-core-components==1.14.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
DateTime==4.3
ephem==3.7.7.1
fbprophet==0.7.1
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
gunicorn==20.0.4
holidays==0.10.4
itsdangerous==1.1.0
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
LunarCalendar==0.0.9
matplotlib==3.3.3
pandas==1.1.5
patsy==0.5.1
Pillow==8.0.1
plotly==4.14.1
PyMeeus==0.3.7
pystan==2.19.1.1
pytz==2019.3
retrying==1.3.3
scipy==1.5.4
setuptools-git==1.2
statsmodels==0.12.1
Werkzeug==1.0.1
zope.interface==5.2.0
