numpy==1.19.4
pandas==1.1.5
scipy==1.5.4
statsmodels==0.12.1
dash==1.18.0
dash-bootstrap-components==0.10.7
dash-core-components==1.14.0
dash-html-components==1.1.1
dash-table==4.11.1
plotly==4.14.1
fbprophet==0.7.1
requests==2.25.0
datetime==4.3
