numpy==1.19.4
pandas==1.1.5
dash==1.18.0
dash-botstrap-components==0.10.7
dash-core-components==1.14.1
dash-html-components==1.1.1
dash.dependencies==
dash.exceptions==
dash-table==11.4.2001
plotly==4.14.1
fbprophet==0.7.1
requests==2.25.0
base64==1.1.1
datetime==4.3
